<div id="canvas-box"></div>
<div>
  <p>Info:</p>
  <p>Server status: {{ getServerStatus() }} Id: {{ serverId }}</p>
  <input type="text" [(ngModel)]="username">
  <p>{{username}}</p>
  <button class="" [disabled]="username === ''" (click)="resetName()">Reset</button>

  <button class="" [disabled]="username === ''" (click)="addPlayer()">Add Player</button>

  <!-- <p *ngIf="playerCreated; else noPlayer">Player {{username}} added!</p>
  <ng-template #noPlayer>
    <p>No player has been added.</p>
  </ng-template> -->
  <!-- @if (playerCreated) {
    <p>Player Added!</p>
  } -->

<div>
  <label>List of players:</label>

@for (player of players; track player) {
  <li>{{player.name}}</li>
  <button (click)="toggleDetails(player); addLog('detailsButton', 'Display details pressed.')">Display details</button>
  @if (player.showDetails){
    <div>
      <p>Created: {{player.created}}</p>
      <p>Kills: {{player.kills}}</p>
    </div>
  }
}

<div>
  <p>Logs:</p>
  <li *ngFor="let log of logs; let i = index" [ngStyle]="{'background-color': i % 5 === 0 ? 'blue' : 'transparent'}">
{{log.created}} Type:{{log.type}} Description:{{log.description}}
  </li>
</div>

</div>
</div>
